*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    width: 100%;
    height: 100vh;
}

#toggler{
    display: none;
}

.fa-bars{
    font-size: 1.5rem;
    color: #333;
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0,.3);
    display: none;

}

 section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    z-index: 100;
}

section nav .logo img{
    height: 100px;
    width: 130px;
    cursor: pointer;
    margin: 17px 10px;
}

section nav ul{
    list-style: none;
    text-decoration: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: " ";
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    transition: 0.2s linear;
    color: rgb(0, 0, 122);
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: blue;
}

section nav .icon{
    color: black;
    font-size: 20px;
}

section nav .icon i:hover{
    color:rgb(120, 6, 213);
    font-size: 30px;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 180px;
}

section .main .men_text h1{
    font-size: 60px;
    position: relative;
    top: -150px;
    left: 20px;
}
section .main .men_text h1 span{
    margin-left: 9px;
    color: rgb(234, 158, 28);
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

section .main .main_image img{
    width: 850px;
    position: relative;
    left: 70px;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 120px;
    bottom: 180px;
    line-height: 30px;
    font-size: 20px;
}
section .main_btn{
    background: yellow;
    position: relative;
    left: 120px;
    bottom: 105px;
    width: 180px;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 10px;
}

section .main_btn a{
    color: rgb(0, 0, 0);
    margin-right: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
}
section .main_btn i{
    color: black;
    transition: 0.3s;
}
section .main_btn:hover i{
    transform: translateX(7px);
}

/* About */

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .about_main .image img{
    width: 800px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span{
    color: rgb(234, 158, 28);
    margin-right: 15px;
    font-family: mv boli;
}
.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 25px;
    font-size: 20px;
}

.about .about_btn{
    background: yellow;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    position: relative;
    left: 1000px;
    bottom: 30px;
    font-weight: bold;
}

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: rgb(221, 155, 0);
    margin-left: 15px;
    font-family: mv boli; 
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: yellow;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 375px;
    height: 480px;
    padding: 18px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.menu .menu_box .menu_card .menu_image img{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    /* top: -200px; */
    right: -8px; 
    opacity: 1;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    /* top: -240px; */
    right: 20px;
    opacity: 1;
}
.menu .menu_box .menu_card:hover .small_card i{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: black;
    cursor: pointer;
    text-shadow: 0 0 6px black;
    transition: 0.1s;
}
.menu .menu_box .menu_card .small_card i:hover{
    color: rgb(227, 11, 47);
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: blue;
}
.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 22px;
}
.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}
.menu .menu_box .menu_card .menu_info .menu_icon{
    color: rgb(79, 34, 1);
    text-align: center;
    margin: 10px 0 20px 0;
}
.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    background: black;
    padding: 8px 6px;
    margin: 0 80px;
    transition: 0.3s;
}
/* Gallery */

.gallery{
    width: 100%;
    padding: 70px 0;
}

.gallery h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery h1 span{
    margin-left: 15px;
    color: rgb(239, 102, 5);
    font-family: mv boli;
    
}
.gallery h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: yellow;
    display: block;
    position: relative;
    bottom: 15px;
}
.gallery .gallery_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery .gallery_image_box .gallery_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallery .gallery_image_box .gallery_image img{
    width: 100%;
    transition: 0.3s;
}

.gallery .gallery_image_box .gallery_image:hover img{
    opacity: 0.4;
}
.gallery .gallery_image_box .gallery_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: yellow;
    font-family: mv boli;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}
.gallery .gallery_image_box .gallery_image:hover h3{
    opacity: 1;
}

.gallery .gallery_image_box .gallery_image  p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallery .gallery_image_box .gallery_image:hover p{
    opacity: 1;
}

.gallery .gallery_image_box .gallery_image .gallery_btn{
    position: absolute;
    margin-top: 180px;
    color: black;
    background: yellow;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallery .gallery_image_box .gallery_image:hover .gallery_btn{
    opacity: 1;
    transform: translateY(0);
}

/* review */

.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;

}

.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 span{
    margin-left: 15px;
    color: yellow;
    font-family: mv boli;
    text-decoration-line: none;
}

.review h1 span::after{
    content: ' ';
    width: 100%;
    height: 2px;
    background: yellow;
    position: relative;
    bottom: 15px;
    display: block;
}

.review .review_box{
    width: 95%;
    margin: 70px auto;
    display: flex;
}

.review .review_box .review_card{
    width: 350px;
    height: 400px;
    box-shadow: 0 2px 8px black;
    border-radius: 10px;
    padding: 8px 20px;
    margin: 0 30px;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s; 
}

.review .review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid white;
}

.review .review_box .review_card .review_text{
    text-align: center;
}

.review .review_box .review_card .review_text .name{
    color: black;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon{
    color: rgb(226, 185, 0);
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}
.review .review_box .review_card:hover .review_text .review_social i{
    opacity: 1;
    transform: translateY(-8px);
}

.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}
.review .review_box .review_card:hover .review_text p{
    margin-top: 5px;
}

/* Order */

.order{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: (url(bg2.jpg));
    background-size: cover;
    background-position: center;
}
.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 55px;
}
.order h1 span{
    color: yellow;
    margin-right: 15px;
    font-family: mv boli;
}

.order h1 span::after{
    content: ' ';
    width: 100%;
    height: 2px;
    background: yellow;
    display: block;
    position: relative;
    bottom: 15px;
}

.order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order .order_main .order_image img{
    width: 600px;
}

.order .order_main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}
.order .order_main form .input p{
    line-height: 25px;
}

.order .order_main form .input{
    margin: 5px;
}

.order .order_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.order .order_main form .input input:focus{
    border: 2px solid yellow;
}

.order .order_main form .order_btn{
    padding: 10px 0;
    background: yellow;
    color: black;
    width: 40%;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}
/* 
team */
.team{
    width: 100%;
    height: 90vh;
    background-image:url(bg1.jpg);
    background-size: cover;
    background-position: center;

}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}
.team h1 span{
    color: yellow;
    margin-left: 15px;
    font-family: mv boli;
}
.team h1 span::after{
    content:" ";
    width: 100%;
    height: 2px;
    background: yellow;
    display: block;
    position: relative;
    bottom: 15px;
}
.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: ceneter;
    justify-content: center;
    position: relative;
    top: 13%;
}
.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 5);
    transition: 0.4s;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;

}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: rgb(0, 35, 189);
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
     margin: 10px 5px 5px 0;
     cursor: pointer;
     transition: 0.3s ;

}

.team .team_box .profile .info .team_icon i:hover{
    color: rgb(207, 140, 5);
}

/* Footer */

.footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #d0d0d0;
}

.footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer .footer_main .footer_tag{
    text-align: center;
}
.footer .footer_main .footer_tag h2{
    color: black;
    margin-bottom: 25px;
    font-size: 30px;
}

.footer .footer_main .footer_tag p{
    margin: 10px 0;
}

.footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

.footer .footer_main .footer_tag i:hover{
    color: rgb(209, 150, 3);
}

/* media queries */
@media(max-width:991px){
    html{
    font-size: 55%;
}

}